:root {
    --color-light-transparent: #fcf0e4;
    --color-primary: hsl(20deg 40% 53%);
    --color-secondary: rgb(240, 136, 39);

    --font-headline: serif;
}

a:hover {
    color: var(--color-secondary);
}

footer a {
    color: var(--color-light);
}

h1, h2, h3 {
    font-family: var(--font-headline);
}

.navbar {
    background-color: var(--color-light-transparent);
    position: sticky;
    top: 0;
}

.hero {
    background-image: url(../img/michael-dziedzic-dbpLrMALyiM-unsplash.jpg);
    background-size: cover;
    background-position: left top;
    position: relative;
}

.hero > .container {
    z-index: 10;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #5e3311;
    opacity: 0.4;
    z-index: 1;
}

.btn:hover {
    color: var(--color-light);
    background-color: var(--color-primary);
}


.about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
}

@media (max-width: 48rem) {
    .about {
        display: flex;
        flex-direction: column-reverse;
        row-gap: 1rem;
    }
}